/*Clases que se ocupan en todos los documentos*/
body{
    background-color: #dfe0e8;
}
p{
  text-align: justify;
}
hr {
    margin-top: 70px;
    height: 6px;
    border: medium dotted;
    color:#d4d4d6;
}
div#white-container {
    background-color: #f5f5f7;
}
.inline{
	display: inline-block;
}
.block{
    display: block;
}
.text-white{
	color: #d1d1d1;
}
/*Header*/
li{
	margin-right: 23px;
	
}
.dark-gray{
    color: #70697a !important;
}
.gray{
    color: #6f6b78;
}

.menu{
    margin-top: -37px;
}
.ul-header{
	margin-left: 654px;
	list-style-type: none;
}
.textRed{
  color: #ed3972;
}
.bg-gray{
	background-color: rgba(0, 0, 0, 0.76);	
}
.header{
    height: 75px;
}
a{
	text-decoration: none;
	color: white;
}
.theGentleman{
	font-size: 52px;
    margin-left: 38px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.padding-gentleman{
    padding-top: 58px;  
}
#btnReadMore {
    padding: 8px 17px 8px 17px;
    border-radius: 20px;
    border-bottom-style: none;
    border-right-style: none;
    margin-top: 37px;
    background-color: #afacb5;
    border-color: transparent;
    color: white;
}
#btnLoadMore {
    font-size: 18px;
    border-radius: 20px;
    padding: 3px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 7px;
    border-color: transparent;
    margin-top: 56px;
    background-color: #6a6475;
    padding-top: 7px;
}
#btnFollow{
    margin-left: 55px;
    margin-top: 5px;
    padding: 4px;
    padding-left: 14px;
    border-color: transparent;
    border-radius: 6px;
    padding-right: 14px;
    background-color: #6a6475;
}
.padding-title{
    padding-top: 13px;   
}
.padding-projects{
    padding-left: 38px;
    padding-top: 80px;      
}
.menu-projects{
    padding-bottom: 42px;
    padding-left: 16px;   
}
.color-gray{
	color:#C3C3C3;
}
.center{
	text-align: center;
}
.titulo-articulo{
    font-size: 38px;
	padding-bottom: 26px;
    text-align: -webkit-center;
}
.bkg-gray{
	background-color: rgb(244, 244, 244);
	width: 100%;
  padding-top: 38px;
}
 .bg-white{
 	background-color: white;
    padding-bottom: 22px;
    padding-top: 61px;
 }
 .img-header{
    margin-left: 37px;
 }
 .padding-top{
 	  padding-top: 42px;
 }
 /*Projects*/
 .latest-pro{
  	margin-top: -21px;
 }
 .articles{
	 margin-top: -42px;
 }
 .card {
    margin-bottom: 47px;
}
 h4.card-title.gray {
    padding-top: 13px;
    padding-bottom: 16px;
}
p.card-text {
    width: 501px;
}
.m-projects{
    color: #b3b0b8;
    padding-right: 18px;
}
.p-latest{
    font-size: 29px;
    margin-bottom: 15px;
    color: #70697a;
    font-weight: bold;}
.link-latestp {
    margin-left: 17px;
    font-size: large;
}
.load-more{
	border-radius: 15px;
	background-color: gray;
	width: 147px;
    height: 31px;
    margin-left: 497px;
}
.btn-lm{
    margin-top: -1.5px;
}
.p-gentleman{
	font-size: x-large;
    color: white;
}
#gentleman{
    font-family: 'Noticia Text', serif;
    font-size: 52px;
    margin-left: 16px;

}
#twitter{
    margin-left: 28px;
    margin-top: 40px;
}
.wordpress{
    margin-top: 66px;
    font-size: 27px;
    margin-left: 16px; 
    color: #6e6778;  
}
#themeForest{
    margin-top: -2px;
}
.social_twitter_circle{
	content: "\e094";
	/*
	border:1px dashed white;
	border-radius: 10px;
	width: 22px;
	height: 20px;*/
}
.social_facebook_circle{

}
.social_googleplus_circle{
	content: "\e0ad";
}
.social_dribbble_circle{
	content: "\e0b2";
}
/*Icono Corazón*/
.icon_heart_alt{
	content: "\e030";
}
.social_share_square{
	content: "\e0ce";
}
footer{
	background-color: #28242e;

}
.fontFooter{
    font-size: 30px !important;
    color: #4b4752 !important;
}
.paddingRowFooter{
    padding-top: 66px

}
#alpha{
    font-size: 24px;
    color: #9e9fba;  
    width: 554px;
    margin-left: 21px; 
}
.services{
    padding-bottom: 5px;   
}
#lineSimple{
    margin-top: 107px;
    color: #4b4752;
    border-style: solid;
    border-width: medium;
}
.footerTitles{
    font-size: 20px;
    color: #d1d1d1;
    margin-bottom: 27px;
}
.footerSubtitles{
    font-size: 15px;
    margin-bottom: 10px;  
}
.oliviu{
  color: #a0a1bd;
}
blockquote:before {
    position: absolute;
    left: 5px;
    top: 8px;
    content: '"';
    font-size: 40px;
    color: #a5a7c4;
    font-family: 'Noto Sans', sans-serif;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    line-height: 0;
}
/*blockquote:after {
    position: absolute;
    right: 30px;
    bottom: 14px;
    content: '"';
    font-size: 40px;
    color: #a5a7c4;
    font-family: 'Noto Sans', sans-serif;
    line-height: 0;
}*/
blockquote{
    padding-left: 32px;
    padding-right: 76px;
    position: relative;
    border-left: 0;
    margin-bottom: 0;
    color: white;
    font-size: 15px;
}
#btnTwitterUpdates{
    padding: 3px 8px 3px 8px;
    margin-left: 10px;
    color: white;
    background-color: #ed2665;
    border-style: none;
    border-radius: 5px;  
}
.marginTopUpdates{
    margin-top: 10px;
}
#cardTwitterUpdates{
    padding-right: 64px;
    font-size: 15px;
    color: white;
}
#cardAddress {
    padding-right: 147px;
}
.address{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;

}
#map{
    font-size: 15px;
}
#phone{
    margin-top: 33px;
    font-size: 26px;   
    font-weight: bold;
}
#sendEmail{
    position: relative;
    height: 55px;
    padding: 17px 10px;
    margin-bottom: 5px;
    background: #17151B;
    background: rgba(19, 18, 22, 0.8);
    border-right: 1px solid #332f3a;
    border-bottom: 1px solid #332f3a;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
}
#newsEmail{
    display: block;
    width: 100%;
    height: 18px;
    font-size: 11px;
    line-height: 18px;
    color: #b3b3b3;
    background: transparent;
    border: none;
}
#submitMail{
    position: absolute;
    top: 5px;
    right: 10px;
    display: block;
    float: right;
    width: 50px;
    height: 45px;
    font-family: Rokkitt, Arial, Verdana;
    font-size: 18px;
    line-height: 46px;
    color: #fff;
    text-align: center;
    background-color: transparent;
    border: none;
}
#submittedNews{
    display: block;
    width: 100%;
    height: 18px;
    font-size: 11px;
    line-height: 18px;
    color: #b3b3b3;
    background: transparent;
    border: none;
}
#p-newsletter{
    font-size: 13px;
    font-style: italic;
}
